<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GreenLifeDB"
			 connectionString="Data Source=DESKTOP-RTT32SQ\SQLEXPRESS;Initial Catalog=GreenLifeDB;Integrated Security=True;Encrypt=False;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>